@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,300&display=swap');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'REM', sans-serif;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #3b82f6, #9333ea, #f43f5e, #f59e0b);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  min-height: 90vh;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-image {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

.project-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-family: 'REM', sans-serif;
  animation: fadeInDown 1.5s ease-in-out;
}

.project-description {
  text-align: center;
  color: #fffefe;
  font-size: 1em;
  margin-bottom: 20px;
  font-family: 'REM', sans-serif;
  animation: fadeInUp 2s ease-in-out;
}

.project-tech-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.project-tech-list li {
  padding: 0.5em 1em;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  margin: 0.5em;
  font-size: 0.8em;
  animation: fadeInUp 2s ease-in-out;
}

.project-link {
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.project-link:hover {
  color: #fff;
  background-color: #333;
}

/* Grid style pour gérer les petits écrans */
@media (max-width: 768px) {
  .project {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .project {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
