@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@1,300&display=swap');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'REM', sans-serif;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: rgb(252, 254, 255);
  min-height: 100vh;
  background: linear-gradient(45deg, #3b82f6, #9333ea, #f43f5e, #f59e0b);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Grid style to manage small screens */
@media (max-width: 768px) {
  .skills-container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .skills-container {
    width: 100%;
  }
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  border: 5px solid rgb(82, 84, 212);
}

.profile-pic:hover {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.intro {
  font-size: 2em;
  color: rgb(155, 152, 152);
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  animation: fadeIn 2s ease-in-out;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease-in-out;
}

.skills-container h2 {
  margin-bottom: 10px;
}

.skills-container ul {
  list-style: none;
  padding: 0;
}

.skills-container ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
